<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mintcho.wwmarket2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wwmarket2">

        <activity
            android:name=".MainActivity_realworld"
            android:exported="false" />
        <activity
            android:name=".activity_market1"
            android:exported="false" />
        <activity
            android:name=".realoffermain"
            android:exported="false" />
        <activity
            android:name=".Sub2buy2Activity"
            android:exported="false" />
        <activity
            android:name=".Sub2buyfinal2Activity"
            android:exported="false" />
        <activity
            android:name=".Sub2NegoaActivity"
            android:exported="false" />
        <activity
            android:name=".Sub2NegofinalaActivity"
            android:exported="false" />
        <activity
            android:name=".Sub2buyfinalActivity"
            android:exported="false" />
        <activity
            android:name=".Sub3aActivity"
            android:exported="false" />
        <activity
            android:name=".Sub2aActivity"
            android:exported="false" />
        <activity
            android:name=".Sub2buyActivity"
            android:exported="false" />
        <activity
            android:name=".Sub2NegofinalActivity"
            android:exported="false" />
        <activity
            android:name=".Sub2NegoActivity"
            android:exported="false" />
        <activity
            android:name=".SubActivity3"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".realchat"
            android:exported="false" />
        <activity
            android:name=".SubActivity2"
            android:exported="false" />
        <activity
            android:name=".SubActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>